:root {
  --color-gray-1-day: rgb(142, 142, 147);
  --color-gray-2-day: rgb(174, 174, 178);
  --color-gray-3-day: rgb(199, 199, 204);
  --color-gray-4-day: rgb(209, 209, 214);
  --color-gray-5-day: rgb(229, 229, 234);
  --color-gray-6-day: rgb(242, 242, 247);
  --color-blue-day: rgb(0, 122, 255);
  --color-green-day: rgb(52, 199, 89);
  --color-indigo-day: rgb(88, 86, 214);
  --color-orange-day: rgb(255, 149, 0);
  --color-pink-day: rgb(255, 45, 85);
  --color-purple-day: rgb(175, 82, 222);
  --color-red-day: rgb(255, 59, 48);
  --color-teal-day: rgb(90, 200, 250);
  --color-yellow-day: rgb(255, 204, 0);

  --color-gray-1-night: rgb(142, 142, 147);
  --color-gray-2-night: rgb(99, 99, 102);
  --color-gray-3-night: rgb(72, 72, 74);
  --color-gray-4-night: rgb(58, 58, 60);
  --color-gray-5-night: rgb(44, 44, 46);
  --color-gray-6-night: rgb(28, 28, 30);
  --color-blue-night: rgb(10, 132, 255);
  --color-green-night: rgb(48, 209, 88);
  --color-indigo-night: rgb(94, 92, 230);
  --color-orange-night: rgb(255, 159, 10);
  --color-pink-night: rgb(255, 55, 95);
  --color-purple-night: rgb(191, 90, 242);
  --color-red-night: rgb(255, 69, 58);
  --color-teal-night: rgb(100, 210, 255);
  --color-yellow-night: rgb(255, 214, 10);

  --cubic-ease: cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  cursor: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='3' cy='3' r='3' fill='black' fill-opacity='0.6'/%3E%3C/svg%3E%0A"), pointer;
}

.night-mode *,
body.night-mode {
  cursor: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='3' cy='3' r='3' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E%0A"), pointer;
}

.btn:hover, .btn:active {
  cursor: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' r='4' fill='black' fill-opacity='0.6'/%3E%3C/svg%3E%0A"), pointer;
}

.night-mode .btn:hover, .night-mode .btn:active {
  cursor: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' r='4' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E%0A"), pointer;
}

body {
  height: 100vh;
  background-color: white;
  transition: background-color 1s var(--cubic-ease);
}

.night-mode {
  background-color: black;
}

main {
  width: 431px;
  height: 862px;
  margin: 0px auto;
  position: relative;
  top: calc( 50vh - 431px );
  transition: all 1s var(--cubic-ease);
  transform: translateY(0vh);
  transition-delay: .5s;
}

main.hidden {
  transform: translateY(90vh);
  transition-delay: 0s;
}

main.hidden iframe {
  /* opacity: 0; */
}

.callout {
  transition: all 1s ease-in;
  transition-delay: 0s;
  color: var(--color-gray-1-night);
  opacity: 0;
  transform: translateY(-40px);
  font-family: system-ui, 'system', '-apple-system','HelveticaNeue', sans-serif;
  font-size: 28px;
  font-weight: 500;
  position: absolute;
  width: 100%;
  pointer-events: none;
  left: 0;
  top: 50vh;
  text-align: center;
}

.callout.active {
  transition: all 1s var(--cubic-ease);
  opacity: 1;
  transform: translateY(0px);
  transition-delay: .5s;
}

.mask {
  position: absolute;
  pointer-events: none;
  var(--color-gray-6-day);
}

.night-mode .mask {
  var(--color-gray-6-night);
}

#iphone-shape {
  fill: var(--color-gray-6-day);
  transition: fill .3s var(--cubic-ease)
}

.night-mode #iphone-shape {
  fill: var(--color-gray-6-night);
}

iframe {
  position: absolute;
  border: none;
  outline: none;
  top: 25px;
  left: 28px;
  transition: all 1s var(--cubic-ease);
  will-change: transform;
}

aside.buttons {
  position: absolute;
  bottom: calc( 50vh - 431px + 60px );
  right: calc( 50vw + 216px + 80px );
  width: 60px;
}

a {
  text-decoration: none;
  color: unset;
}

.info {
  position: absolute;
  top: calc( 50vh - 431px + 80px );
  right: calc( 50vw + 216px + 80px );
  width: 300px;
  font-family: system-ui, 'system', '-apple-system','HelveticaNeue', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1.3em;
  color: var(--color-gray-3-night);
  letter-spacing: 0.1em;
  padding: 13px;
  margin: -13px;
  border-radius: 13px;
  transition: background-color .2s ease;
}

.info button {
  position: absolute;
  top: 13px;
  left: 13px;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  background-color: var(--color-gray-6-day);
  color: var(--color-gray-1-night);
}

.info button span {
  margin-top: -3px;
  display: block;
}

.info div {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

.info:hover {
  background-color: var(--color-gray-6-day);
}

.attribute {
  text-align: right;
  color: var(--color-gray-1-night);
}

.night-mode aside.info {
  color: var(--color-gray-1-night);
}

.night-mode .attribute {
  color: var(--color-gray-3-night);
}

.night-mode aside.info:hover {
  background-color: var(--color-gray-6-night);
}

button {
  border: none;
  outline: none;
	font: inherit;
  background: inherit;
}

.btn {
  background-color: var(--color-gray-6-day);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 60px;
  height: 60px;
  transition:
    background-color .3s cubic-bezier(0.165, 0.840, 0.440, 1.000),
    transform 1s var(--cubic-ease);
}

.night-mode .btn {
  background-color: var(--color-gray-6-night);
}

.night-mode .btn--day-night-mode {
  transform: rotate(180deg);
}

.btn svg {
  transition: transform .3s var(--cubic-ease);
}

.btn:hover svg {
  transform: scale(1.2);
}

.btn:active svg {
  transform: scale(1);
}

.btn.active {
  background-color: var(--color-gray-6-night);
}

.night-mode .btn.active {
  background-color: var(--color-gray-6-day);
}

.night-mode .btn.active .icon-day-night-mode-fill {
  fill: black;
}

.btn.active .icon-day-night-mode-fill {
  fill: white;
}

.icon-day-night-mode-stroke, .icon-day-night-mode-fill {
  transition: all .3s var(--cubic-ease)
}

.night-mode .icon-day-night-mode-stroke {
  stroke: white;
}

.night-mode .icon-day-night-mode-fill {
  fill: white;
}

.btn--siri {
  position: absolute;
  width: 50px;
  height: 130px;
  right: -30px;
  top: 180px;
}
